{% extends 'base.html' %}
{% block content %}
  <div class="cover">
  <h1 class="cover-heading">{{ vote.text }}</h1>
  <div class="lead">
    <span class="glyphicon glyphicon-time"></span>&nbsp;{{ vote.end_date }}.<br />
    <span class="glyphicon glyphicon-stats"></span>&nbsp;
    {{ vote.has_voted.count }} ont voté sur {{ vote.get_voters_count }}.
  </div>
{% if error_message %}
<div class="alert alert-info" role="alert">
  {{ error_message }}
</div>
{% endif %}

  <div>
{% if activated %}
<form class="lead" action="{% url 'votes:vote' vote.slug %}" method="post">
{% csrf_token %}
  <div class="form-group">
{% for item in vote.voteitem_set.all %}
    <label class="radio">
      <input type="radio" name="vote" value="{{ item.id  }}" />
      {{ item.text }}
    </label>
{% endfor %}
  </div>
  <input class="form-control btn btn-default" type="submit" value="voter" />
</form>

{% else %}

<form class="lead" action="" method="post">
  <div class="form-group">
{% for item in vote.voteitem_set.all %}
  <label class="radio disabled">
  <input type="radio" name="vote" disabled />
  {{ item.text }}
  </label>
{% endfor %}
  </div>
</form>
{% endif %}
  </div>
{% endblock %}
