{% extends "base.html" %}
{% load i18n %}
{% block header %}
{% if request.user.is_authenticated %}
<meta http-equiv="REFRESH" content="0;url=/">
{% endif %}
{% endblock %}
{% block content %}
{% if not request.user.is_authenticated %}
  <div class="cover">
  <h1 class="cover-heading">Intranet en cours de reconstruction</h1>
  <div class="lead">
    Bienvenue sur l'intranet de la Panam Squad. Ce site sert principalement à la gestion associative. <br />
    C'est donc tout naturellement par ici que se passent les adhésions à la Panam Squad. <br />
    Il est actuellement en cours de reconstruction mais reste fonctionnel le temps des travaux.
  </div>

{%endif %}
{% endblock %}
