{% extends 'base.html' %}
{% block header %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
  .btn span.glyphicon {    			
    opacity: 0;
    font-weight: bold;
  }
  .btn.active span.glyphicon {				
    opacity: 1;
    font-weight: bold;
}
  </style>
{% endblock %}
{% block content %}
<div class="cover">
<h1>Training du <u>{{ training.date }}</u></h1>
<div id="desc">
<ul>
{% for part in training.parts.all %}
<li>
<b>{{ part.name }}</b>
{{ part.desc }}
</li>
{% endfor %}
</ul>
</div>
<div id="list-view" class="lead">
  <form class="form-horizontal" action="{% url 'derby:presences' %}" method="post">
  {% csrf_token %}
  <table class="table">
  <thead>
    <th scope="col">#</th>
    <th scope="col">Derby name</th>
    <th scope="col">A suivi</th>
  </thead>
  <tbody>
{% for player in players %}
  <tr class="">
    <td>{{ player.profile.derby_number }}</td>
    <td>{{ player.profile.derby_name }}</td>
    <td class="btn-group" data-toggle="buttons">
    {% for part in training.parts.all %}
      {% if player in part.people.all %}
      <label class="btn btn-{{ part.kind.button_color|default:"primary" }} active">
	<input type="checkbox" name="pres_{{part.id}}_{{player.id}}" value="Y" checked />
      {% else %}
      <label class="btn btn-{{ part.kind.button_color|default:"default" }}">
	<input type="checkbox" name="pres_{{part.id}}_{{player.id}}" value="Y"/>
        {% endif %}
	<span class="glyphicon glyphicon-ok">&nbsp;</span>{{ part.name }}
      </label>
    {% endfor %}

    </td>
  </tr>
{% endfor %}
  </tbody>
  </table>
  <input type="hidden" name="training_id" value="{{ training.id }}" />
  <input type="hidden" name="clear_parts" value="{{ training.id }}" />
  <input type="submit" class="btn btn-lg btn-info" value="Valider les présences" />
  </form>
</div>
</div>
{% endblock %}
