{% extends 'base.html' %}
{% block content %}
<div class="cover">
  <div class="lead">
  <h1 class="cover-heading">
    Liste des {{filter_name}}
  </h1>
{% if error_message %}
<div class="alert alert-danger" role="alert">
  {{ error_message }}
</div>
{% endif %}
{% if success_message %}
<div class="alert alert-success" role="alert">
  {{ success_message }}
</div>
{% endif %}
<div>
  <table class="table">
  <thead>
    <th scope="col">#</th>
    <th scope="col">Derby name</th>
    <th scope="col">Role principal</th>
    <th scope="col">Dossier soumis</th>
    <th scope="col">Payé</th>
    <th scope="col">Lien Facebook</th>
  </thead>
  <tbody>
{% for member in members %}
  {% if member.submitted %}
    {% if member.has_paid %}
      <tr>
    {%else%}
      <tr class="bg-warning">
    {%endif%}
  {% else %}
    <tr class="bg-danger">
  {% endif %}
    <td>{{ member.profile.derby_number }}</td>
    <td>{{ member.profile.derby_name }}</td> 
    <td>{{ member.role }}</td> 
    <td>{{ member.submitted }}</td> 
    <td>{{ member.has_paid }}</td> 
    <td>
{% if member.profile.fb_id %}
    <a href="https://www.facebook.com/{{ member.profile.fb_id }}" target="_blank">
      <span class="glyphicon glyphicon-pushpin"></span>
    </a>
{% endif %}
    </td> 
  </tr>
{% endfor %}
  </tbody>
  </table>
</div>
{% endblock %}
