{% extends 'base.html' %}
{% block content %}
<div class="cover">
  <div class="lead">
  <h1 class="cover-heading">
    <!--<span class="glyphicon glyphicon-user">&nbsp;</span>-->
    Mon bulletin d'adhésion
  </h1>
{% if error_message %}
<div class="alert alert-danger" role="alert">
  {{ error_message }}
</div>
{% endif %}
{% if success_message %}
<div class="alert alert-success" role="alert">
  {{ success_message }}
</div>
{% endif %}

<div>
{% if not user.profile.member or not user.profile.member.submitted %}
  <form class="form-horizontal" action="{% url 'profile:subscribe' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group">
    <label for="derby_name" class="control-label">
      Derby name :
    </label>
    <input type="text" class="form-control"
      value="{{ user.profile.derby_name }}"
      id="derby_name" name="derby_name" disabled />
    <label for="derby_number" class="control-label">
      Derby number :
    </label>
    <input type="text" class="form-control"
      value="{{ user.profile.derby_number }}"
      id="derby_number" name="derby_number" disabled />
  </div>
  <div class="form-group">
    <label for="real_name" class="control-label">
      Nom d'usage :
    </label>
    <input type="text" class="form-control"
      id="real_name" name="real_name"
      value="{{ user.profile.member.real_name }}"
      placeholder="Prénom Nom" />
    <label for="birth_date" class="control-label">
      Date de naissance :
    </label>
    <input type="date" class="form-control"
      id="birth_date" name="birth_date"
      value="{{ user.profile.member.birth_date_short }}" />
  </div>

  <hr />
  <div class="form-group">
    <label for="post_address" class="control-label">
      Adresse :
    </label>
    <input type="text" class="form-control"
      id="post_address" name="post_address"
      value="{{ user.profile.member.post_address }}" />
    <label for="postal_code" class="control-label">
      Code postal :
    </label>
    <input type="text" class="form-control"
      id="postal_code" name="postal_code"
      value="{{ user.profile.member.postal_code }}" />
    <label for="city" class="control-label">
      Ville :
    </label>
    <input type="text" class="form-control"
      id="city" name="city"
      value="{{ user.profile.member.city }}" />
  </div>

  <hr />
  <div class="form-group">
    <label for="contact_phone" class="control-label">
      Numéro de téléphone :
    </label>
    <input type="tel" class="form-control"
      id="contact_phone" name="contact_phone"
      value="{{ user.profile.member.contact_phone }}" />
    <label for="contact_email" class="control-label">
      Email :
    </label>
    <input type="email" class="form-control"
      id="contact_email" name="contact_email"
      value="{{ user.profile.member.contact_email }}" />
  </div>

  <hr />
  <div class="form-group">
    <label class="control-label">Rôle principal au sein de la Panam Squad : </label>
    <p><small>
    Ton rôle au sein de la Panam Squad détermine le montant de ton adhésion
    et tes accès à certaines ressources. <br />
    </small></p>
    <p class="alert alert-info"><small>
    Pour la saison 2020/2021, le montant de l'adhésion en tant que joueur·euse
    s'élève à <b>75€</b> pour l'année. <br />
    Pour la saison 2020/2021, le montant de l'adhésion en tant qu'officiel·le
    s'élève à <b>10€</b> pour l'année. <br />
    Pour la saison 2020/2021, le montant de l'adhésion en tant que coach·e
    s'élève à <b>10€</b> pour l'année. <br />
    </small></p>
    {% for role_slug,role_desc in roles %}
    <div class="radio">
      <label><input type="radio" name="role"
      {% if user.profile.member.role == role_slug %}
      value="{{ role_slug }}" checked />{{ role_desc }}</label>
      {% else %}
      value="{{ role_slug }}" />{{ role_desc }}</label>
      {% endif %}
    </div>
    {% endfor %}
  </div>

  <hr />
  <div class="form-group">
    <label class="control-label">Licence FFRS :</label>
    <p><small>
      Si tu es absolument certain·e de ne pas patiner/rouler cette année,
      même en randonnée, mais que tu souhaites pouvoir officier sur des 
      matchs officiels, une licence "non-pratiquant" t'est nécessaire.<br />
    </small></p>
    <p class="alert alert-info"><small>
      La prise de licence FFRS, qu'elle soit avec ou sans patins, s'élève
      à <b>40€</b>.
    </small></p>

    {% for ffrs_slug,ffrs_desc in ffrs %}
    <div class="radio">
      <label><input type="radio" name="ffrs_status"
      {% if user.profile.member.ffrs_status == ffrs_slug %}
      value="{{ ffrs_slug }}" checked />{{ ffrs_desc }}</label>
      {% else %}
      value="{{ ffrs_slug }}" />{{ ffrs_desc }}</label>
      {% endif %}
    </div>
    {% endfor %}
  </div>

  <div class="form-group">
    <label class="control-label">Certficat médical :</label>
    <p><small>
       Si tu souhaites que la Panam Squad gère pour toi une licence "avec
       patins", merci de transmettre un certificat médical en cours de
       validité permettant "la pratique du Roller Derby
       <b>en compétition</b>".<br />
    </small></p>
    <p class="alert alert-warning"><small>
      Le cas échéant, ne soumet pas ton adhésion avant d'avoir vérifié
      que ton certificat est bien valide (qu'il n'a pas plus de 3 ans).
    </small></p>
    <center>
    <label>
      <input type=file name="health_cert" class="form-control-file" />
    </label>
    {% if user.profile.member.health_cert %}
    <p>
      <a href="{% url "profile:health_cert_redir" %}">
        certificat actuel</a>
    </p>
    {% endif %}
    </center>
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox"
      {% if user.profile.member.keep_health_cert %}
        name="keep_health_cert" value="yes" checked />
      {% else %}
        name="keep_health_cert" value="yes" />
      {% endif %}
      <small>
        En cochant cette case, j'autorise la Panam Squad à conserver et
        archiver mon certificat médical pour préparer mon éventuel
        bulletin d'adhésion de la saison prochaine.
      </small>
    </label>
  </div>
  <hr />
  <div class="form-group row">
  <div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox"
    name="ri_ok" value="yes" />
    <small>
    J'ai lu et j'accepte le <a href="https://my.panamsquad.com/docs/r/RI">
    Règlement Intérieur de la Panam Squad</a> et je m'engage à respecter le 
    <a href="https://mrda.org/resources/code-of-conduct/">Code de Conduite de la MRDA</a>, 
    fédération dont la Panam Squad fait partie et son 
    <a href="https://my.panamsquad.com/docs/r/mrda-sexual-harassment-policy">Annexe
    sur le harcèlement sexuel</a>.
    </small>
  </label>
  </div>
  <div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox"
    name="data_ok" value="yes" />
    <small>
    Je certifie que ces informations sont exactes et je consens à ce qu'elles
    soient utilisées afin de gérer mon adhésion à la Panam Squad. Elles 
    pourront être transmises à la FFRS dans le cas de l'acquisition d'une 
    licence en mon nom. 
    </small>
  </label>
  </div>
  <div class="form-group row">
    <div class="col-md-6">
      <input type="submit" name="save" class="btn btn-lg btn-default"
       value="Sauvegarder" />
      <input type="submit" name="submit" class="btn btn-lg btn-success"
       value="Envoyer mon dossier" />
    </div>
  </div>
  </form>
</div>
{% else %}
<div class="alert alert-info" role="alert">
Ton bulletin d'adhésion est en cours de traitement. <br />
Contacte un·e administrateur·rice si tu souhaites pouvoir le modifier.
</div>
{% if not user.profile.member.has_paid %}
<div class="alert alert-warning" role="alert">
Il te reste {{ user.profile.member.subscription_dues }}€ à verser à la
Panam Squad. <br />
Il est possible que ce traitement soit en cours de notre côté.<br />
N'hésite pas à contacter la trésorerie
(<a href="https://www.facebook.com/Kiki.kilian.garnier"><b>Kiki</b></a> ou
<a href="https://www.facebook.com/npiffeteau"><b>La Piffe</b></a>) si tu as une question.<br />
<center>
<a class="btn btn-default" href="{% url 'docs:redir' 'iban' %}">Payer par virement</a>
<br />ou<br />
<a class="btn btn-default" href="https://paypal.me/PanamSquad/{{ user.profile.member.subscription_dues }}">par Paypal</a>
<br />ou<br />
par chèque à l'ordre de la Panam Squad.
<br />ou<br />
en liquide ou par carte auprès de la trésorerie.
</center>
</div>
{% endif %}
{% endif %}
  </div>
</div>
{% if success_message %}
<script>
  function redirect(){
     window.location.href = "{% url 'profile:membership' %}";
  }
  setTimeout(redirect, 1000);
</script>
{% endif %}
{% endblock %}
