{% extends 'base.html' %}
{% block content %}
<div class="cover">
  {% if not user.profile.derby_name or not user.profile.derby_number %}
<h2>Cr&eacute;er un profil</h2>
{% if error_message %}
<div class="alert alert-danger" role="alert">
  {{ error_message }}
</div>
{% endif %}
{% if success_message %}
<div class="alert alert-success" role="alert">
  {{ success_message }}
</div>
{% endif %}
<p>
Afin d'acc&eacute;der aux diff&eacute;rentes fonctionalit&eacute;s de cet extranet, 
et de pouvoir t'itendifier plus facilement par la suite merci de cr&eacute;er un profil.<br/>
In order to access the functionalities of this site, and to identify yourself more easily
later, please, create a profile.
</p>
<div class="alert alert-info" role="alert">
  La cr&eacute;ation d'un profil sur l'extranet Panam Squad <b>ne</b> constitue <b>pas</b> une
  adh&eacute;sion. <br/>
  Creating a profile on this site is <b>not</b> a subscription for any Panam Squad membership.
</div>
  <form class="" action="{% url 'profile:create' %}" method="post">
  {% csrf_token %}
  <div class="form-group row">
    <label for="derby_name" class="col-sm-2 col-form-label">
      Derby name :
    </label>
    <input type="text" class="form-control col-sm-4"
      value="{{ user.profile.derby_name }}"
      placeholder="Derby Name"
      id="derby_name" name="derby_name"/>
  </div>
  <div class="form-group row">
    <label for="derby_number" class="col-sm-2 col-form-label">
      Derby number :
    </label>
    <input type="text" class="form-control col-sm-4"
      value="{{ user.profile.derby_number }}"
      placeholder="XXXX"
      id="derby_number" name="derby_number"/>
  </div>
  <div class="form-group">
    <div class="">
      <input type="submit" value="Ok" class="btn btn-lg btn-outline-primary" />
    </div>
  </div>
  </form>
  {% else %}
  <h1 class="cover-heading">
    <!--<span class="glyphicon glyphicon-user">&nbsp;</span>-->
    Mon profil
  </h1>
{% if error_message %}
<div class="alert alert-danger" role="alert">
  {{ error_message }}
</div>
{% endif %}
{% if success_message %}
<div class="alert alert-success" role="alert">
  {{ success_message }}
</div>
{% endif %}
<div class="alert alert-info" role="alert">
  Si tu souhaites modifier ton derby name ou ton numéro, contacte un·e administrateur·rice.
</div>

  <form class="form-horizontal" action="{% url 'profile:edit' %}" method="post">
  <div class="form-group">
    <label class="control-label col-sm-4">Derby name:</label>
    <div class="col-sm-8">
      <p class="form-control-static">
        {{ user.profile.derby_name }}
      </p>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-4">Derby number:</label>
    <div class="col-sm-8">
      <p class="form-control-static">
        {{ user.profile.derby_number }}
      </p>
    </div>
  </div>
<!--
  {% csrf_token %}
  <div class="form-group">
    <div class="col-sm-offset-10 col-sm-10">
      <input type="submit" class="btn btn-info" value="Mettre à jour" />
    </div>
  </div>
-->
  </form>
  {% endif %}
  </div>
</div>
{% if success_message %}
<script>
  function redirect(){
     window.location.href = "/";
  }
  setTimeout(redirect, 3000);
</script>
{% endif %}
{% endblock %}
