{% extends 'base.html' %}
{% block content %}
  <div class="cover">
  <h1 class="cover-heading">
    <!--<span class="glyphicon glyphicon-sunglasses">&nbsp;</span>-->
    Hello {{ user.profile.derby_name }}!
  </h1>
  <p class="lead">
  Bienvenue dans l'intranet de la Panam Squad. C'est un peu vide pour le moment
  mais nous travaillons à remplir ce site de nouvelles fonctionnalités rapidement.<br />
  </p>
{% if not user.profile.has_been_checked %}
<div class="alert alert-warning" role="alert">
  Certaines fonctionalités de ce site te sont encore inaccessibles car ton compte 
  est en cours de validation par un·e administrateur·rice (sans doute 
  <a class="" target="blank" href="https://www.facebook.com/la.mandale"><b>La Mandale</b></a>).<br />
  N'hésite pas à le contacter si tu es bien membre de la Panam Squad.
</div>
{% endif %}
  <div class="list-group lead">
      <a class="list-group-item list-group-item-action"
         href="{% url 'profile:profile' %}">
        <span class="glyphicon glyphicon-user">&nbsp;</span>
        Mon profil
      </a>
    {% if user.profile.has_been_checked %}
      <a class="list-group-item list-group-item-action"
         href="{% url 'votes:index' %}">
        <span class="glyphicon glyphicon-bullhorn">&nbsp;</span>
        Votes
      </a>
    {% else %}
      <a class="list-group-item list-group-item-action disabled"
        href="#">
        <span class="glyphicon glyphicon-bullhorn">&nbsp;</span>Votes
      </a>
    {% endif %}
      <a class="list-group-item list-group-item-action disabled"
        href="#">
        <span class="glyphicon glyphicon-dashboard">&nbsp;</span>
        Présences
      </a>
      <a class="list-group-item list-group-item-action disabled"
        href="#">
        <span class="glyphicon glyphicon-calendar">&nbsp;</span>
        Matchs à venir
      </a>
  </div>
  </p>
  </div>
{% endblock %}
