{% extends 'base.html' %}
{% block content %}
  <div class="cover">
  <h1 class="cover-heading">
    <!--<span class="glyphicon glyphicon-sunglasses">&nbsp;</span>-->
    Hello {{ user.profile.derby_name }}!
  </h1>
  <p class="lead">
  Bienvenue dans l'intranet de la Panam Squad. C'est un peu vide pour le moment
  mais nous travaillons à remplir ce site de nouvelles fonctionnalités rapidement.<br />
  </p>
{% if not user.profile.has_been_checked %}
<div class="alert alert-warning" role="alert">
  Certaines fonctionalités de ce site te sont encore inaccessibles car ton compte 
  est en cours de validation par un·e administrateur·rice (sans doute 
  <a class="" target="blank" href="https://www.facebook.com/la.mandale"><b>La Mandale</b></a>).<br />
  N'hésite pas à le contacter si tu es bien membre de la Panam Squad.
</div>
{% endif %}
  <div class="list-group lead">
    {% if not user.profile.member or not user.profile.member.has_been_processed %}
      {% if not user.profile.member.has_paid %}
        {% if not user.profile.member.submitted %}
          <a class="list-group-item list-group-item-action list-group-item-info"
             href="{% url 'profile:membership' %}">
        {% else %}
          <a class="list-group-item list-group-item-action list-group-item-warning"
             href="{% url 'profile:membership' %}">
        {% endif %}
      {% else %}
      <a class="list-group-item list-group-item-action list-group-item-success"
         href="{% url 'profile:membership' %}">
      {% endif %}
        <span class="glyphicon glyphicon-leaf">&nbsp;</span>
        Adhésion
        {% if user.profile.member and user.profile.member.submitted and not user.profile.member.has_paid %}
          ({{ user.profile.member.subscription_dues }}€)
        {% endif %}
      </a>
    {% endif %}

    {% if can_see_sponsoremails %}
      <a class="list-group-item list-group-item-action"
         href="{% url 'derby:mail_export' %}">
        <span class="glyphicon glyphicon-th-list">&nbsp;</span>
        Emails des membres pour sponsoring
      </a>
    {% endif %}

    {% if can_see_variousinfos or user.is_staff %}
      <a class="list-group-item list-group-item-action"
         href="{% url 'derby:export_form' %}">
        <span class="glyphicon glyphicon-list-alt">&nbsp;</span>
        Fiches membres
      </a>
    {% endif %}
    
    {% if can_validate_paid %}
      <a class="list-group-item list-group-item-action"
         href="{% url 'profile:payments' %}">
        <span class="glyphicon glyphicon-eur">&nbsp;</span>
        Valider les paiements
      </a>
    {% endif %}
    {% if user.profile.has_been_checked %}
      <a class="list-group-item list-group-item-action"
         href="{% url 'votes:index' %}">
        <span class="glyphicon glyphicon-bullhorn">&nbsp;</span>
        Votes
      </a>
    {% else %}
      <a class="list-group-item list-group-item-action disabled"
        href="#">
        <span class="glyphicon glyphicon-bullhorn">&nbsp;</span>Votes
      </a>
    {% endif %}
      <a class="list-group-item list-group-item-action"
        href="{% url 'docs:index' %}">
        <span class="glyphicon glyphicon-file">&nbsp;</span>
        Documents et fichiers
      </a>
      <a class="list-group-item list-group-item-action disabled"
        href="#">
        <span class="glyphicon glyphicon-calendar">&nbsp;</span>
        Evénements à venir
      </a>
  </div>
  </p>
  </div>
{% endblock %}
