{% extends 'base.html' %}
{% block content %}
  <div class="inner cover">
    <h1 class="cover-heading">Mentions légales</h1>
    <h3>Intranet de la Panam Squad</h3>
    <p>
    Sur son intranet, la Panam Squad propose des liens vers d'autres sites. La Panam Squad
    n'exerce aucun contrôle sur les sites web autre que le sien et n'assume aucune responsabilité 
    concernant ces sites ou leurs contenus.
    La Panam Squad ne garantit pas l'absence d'erreurs typographiques, d'imprécisions ou 
    d'inexactitudes techniques sur le site.
    </p>

    <h3>Protection des données personnelles</h3>
    <p>
    La Panam Squad est susceptible de collecter et traiter des données à caractère 
    personnel des visiteurs de son site Internet, en tant que Responsable de Traitement,
    au sens de la Loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers 
    et aux libertés modifiée et du Règlement Général sur la Protection des Données.

    Par données à caractère personnel, nous entendons, conformément à la Loi Informatique 
    et Libertés et le RGPD, toute information relative à une personne physique identifiée
    ou qui peut être identifiée, directement ou indirectement, par référence à un numéro 
    d'identification ou à un ou plusieurs éléments qui lui sont propres.

    La Panam Squad est attachée au respect et à la protection de la vie privée. Elle 
    s'engage à définir et appliquer les mesures adéquates afin de garantir la sécurité de vos données personnelles.
    </p>

    <h3>Utilisation faite des données</h3>
    <p>
    Les données à caractère personnel recueillies via l'intranet de la Panam Squad,
    le sont dans le but d'assurer les services et la gestion interne et externe de la 
    Panam Squad, notamment :
    <ul>
      <li>Gérer les adhésions, votes, et autres procédures inhérentes à la vie d'une association sportive</li>
      <li>Gérer les activités des membres de la Panam Squad (y compris leurs déplacements groupés)</li>
      <li>Gérer un calendrier d'événements internes comme externes</li>
      <li>Gérer un suivi des licenses FFRS</li>
    </ul>
    </p>

    <h3>Destinataire des données</h3>
    <p>
    Les données collectées sur l'intranet de la Panam Squad sont réservées à l'usage de la Panam Squad.
    Elles seront cependant en partie restransmises à la Fédération Française de Rollers et SkateBoard
    dans le but d'acquérir une license fédérale.
    </p>

    <h3>Conservation des données</h3>
    <p>
      Sauf règlement spécifique applicable, la Panam Squad conserve les données personnelles
      collectées pendant la durée justifiée par la finalité de leur traitement.
    </p>

    <h3>Vos droits</h3>
    <p>
    Conformément à la Loi Informatique et Libertés et le RGPD, vous disposez entre autres d'un droit d'accès,
    de rectification et d'opposition aux données personnelles vous concernant.

    Pour en savoir plus, consultez vos droits sur le site de la CNIL.
    </p>

    <h3>Droit de propriété intellectuelle</h3>
    <p>
    L'intranet de la Panam Squad est protégé par le droit d'auteur. Le code source, basé sur le framework Django est libre
    et publié sur <a href="https://github.com/the-mandarine/mypanamsquad">GitHub</a> sous license BeerWare.
    </p>
  </div>

{% endblock %}
