{% extends 'base.html' %}
{% block content %}
<div class="cover">
  <h1 class="cover-heading">
    <!--<span class="glyphicon glyphicon-bullhorn">&nbsp;</span>-->
    Trainings
  </h1>
  <div class="lead">
{% if trainings %}
    <table class="table lead">
    <thead>
    <tr>
      <th>Date</th>
    </tr>
    </thead>
    <tbody>
    {% for training in trainings %}
        <tr>
          <td>
            <span class="glyphicon glyphicon-calendar">&nbsp;</span>
            <a href="{% url 'derby:training' training.date %}">
              {{ training.date }}
            </a></li>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% else %}
    Pas de training disponible
{% endif %}
  </div>
</div>
{% endblock %}
