.cover {
  margin-top:80px;
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}



/*
 * Affix and center
 */

@media (min-width: 768px) {
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  .mastfoot {
    width: 100%; 
    text-align: center;
  }
}

@media (min-width: 992px) {
  .mastfoot {
    width: 700px;
  }
}

