{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type='text/css' href="{% static 'style.css' %}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <title>{% block title %}Panam Squad{% endblock %}</title>
{% block header %}{% endblock %}
</head>

<body>
  <nav class="navbar navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand" href="{% url 'home' %}">
      {% block pagetitle %}Panam Squad{% endblock %}
    </a>
    <div class="navbar-item" id="navbarNavAltMarkup">
        {% if user.is_authenticated %}
          <a class="btn btn-sm btn-secondary" href="{% url 'derby:profile' %}">
            <span class="fa fa-user-o">&nbsp;</span>
            Profil
          </a>
          {% if user.is_staff %}
          <a href="{% url 'admin:index' %}">
            <span class="glyphicon glyphicon-cog">&nbsp;</span>
          </a>
          {% endif %}
        {% else %}
        <form method="POST" action="{% url 'social:begin' 'facebook' %}">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.GET.next }}" />
            <button
              type="submit"
              class="btn btn-primary btn-sm form-control"
              value="Connection par facebook">
              <i class="fa fa-facebook-square">&nbsp;</i>Connection</button>
            </button>
          </div>
        </form>
        {% endif %}
    </div>
  </nav>

  <div class="container">
    {% block content %}{% endblock %}
  </div>

  <div class="footer container">
    <div class="inner">
    {% block footer %}
      <p>
        &copy; Panam Squad 2018-2020 - 
        <a href="{% url 'privacy' %}">Mentions légales</a>
      </p>
    {% endblock %}
    </div>
  </div>

  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

</body>

</html>
