{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type='text/css' href="{% static 'style.css' %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <title>{% block title %}Panam Squad{% endblock %}</title>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">{% block pagetitle %}Panam Squad{% endblock %}</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'votes:index' %}">
            <span class="glyphicon glyphicon-bullhorn">&nbsp;</span>
            Votes
          </a></li>
          <li><a href="{% url 'home' %}">
            <span class="glyphicon glyphicon-calendar">&nbsp;</span>Matchs à venir
          </a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'docs:index' %}">
            <span class="glyphicon glyphicon-file">&nbsp;</span>
          </a></li>
<!--
          <li><a href="{% url 'profile:profile' %}">
            <span class="glyphicon glyphicon-user">&nbsp;</span>
            Profil
          </a></li>
-->
          {% if user.is_staff %}
          <li><a href="{% url 'admin:index' %}">
            <span class="glyphicon glyphicon-cog">&nbsp;</span>
          </a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    {% block content %}{% endblock %}
  </div>

  <div class="footer container">
    <div class="inner">
    {% block footer %}
      <p>
        &copy; Panam Squad 2018-2019 - 
        <a href="{% url 'privacy' %}">Mentions légales</a>
      </p>
    {% endblock %}
    </div>
  </div>

  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

</body>

</html>
